name: ci-node

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 24
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm run lint

  test:
    strategy:
      fail-fast: false
      matrix:
        node: [20, 22, 24]
        eslint: [9, 10]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      # To avoid differences in snapshot tests.
      - run: git config --global core.autocrlf false
        if: ${{ matrix.os == 'windows-latest' }}
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: 'pnpm'
      - name: Change ESLint version
        run: pnpm add -w -D "eslint@${{ matrix.eslint }}"
      - run: pnpm run test

  e2e:
    strategy:
      fail-fast: false
      matrix:
        node: [20, 22, 24]
        eslint: [9, 10]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: 'pnpm'
      - name: Change ESLint version
        run: pnpm add -w -D "eslint@${{ matrix.eslint }}"
      - run: pnpm run e2e
